# Node.js
node_modules/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/
.DS_Store
*.swp

# OS-specific files
Thumbs.db

# Sandbox Enviorment
__sandbox__/